body{
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}
header{
    width: 100%;
    background-color: #0d6efd;
    height: 90px;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    column-gap: 200px;
    z-index: 1;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    padding: 10px;
}
nav ul li a{
    text-decoration: none;
    color: white;
    padding: 10px 20px;
    font-size: 17px;
    font-weight: 300;
    border-radius: 20px;
}
nav ul li a:hover {
    background-color: rgba(255, 255, 255, 0.10);
 }

#home{
    background-image: url(https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/banner-bg.jpg);
    height: 960px;
    width: inherit;
    border-radius: 0 0 120px 120px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
}
.home-content{
    
 
    display: grid;
    grid-template-columns: 50% 50%;
   justify-content: space-around;
    align-items: center;
    height: 120vh;
}
.logo{
    display: flex;
}
.btns{
    background-color: #cb4c47;
    color: white;
    border: none;
    outline: none;
    display: inline-block;
    height: 50px;
    font-size: 15px;
    font-weight: 500;
    padding: 0px 25px;
    border-radius: 25px;
}
.home-heading-1{
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.home-heading-2{
    font-size: 48px;
    color: #fff;
    margin-top: 20px;
    position: relative;
    padding-bottom: 5px;
    margin-bottom: 40px;
    font-weight: 700;
}
.home-heading-2:after {
    position: absolute;
    background-image: url(https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/caption-dec.png);
    width: 202px;
    height: 12px;
    content: '';
    left: 125px;
    bottom: 0;
}
.home-para{
    text-align: justify;
}
.content-1{
    padding: 50px; 
    background-color: white;
    border-radius: 20px;
    width: 330px;
   
}
.content-1 a{
text-decoration: none;
}
.content-1 h4{
    font-size: 17px;
    margin-top: 15px;
    text-transform: uppercase;
    color: black;
    font-weight: 700;
}
.content-1 .item{
    padding: 35px;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
    border-radius: 25px;
    background-color: #fff;
    text-align: center;
}
.image{
    width: 90px;
    height: 90px;
    display: inline-block;
    text-align: center;
    line-height: 90px;
    background-color: #0071f8;
    border-radius: 50%;
}

.trend .item img{
    border-radius: 20px;
}

.trend .item .down-content{
    padding: 15px;
    position: relative;
}

.trend .item .down-content .category{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: inline-block;
}

.trend .item .down-content h4{
    font-size: 17px;
    font-weight: 600;
}

.trend .item {
    background-color: #f8f9fa;
    border-radius: 25px;
}
.trend .item .down-content a{
    position: absolute;
    display: inline-block;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #ee626b;
    color: #fff;
    border-radius: 50%;
    right: 25px;
    bottom: 25px;
    
}

/*  */

.trend .item .down-content .bag{
    position: absolute;
    text-align: center;
    line-height: 40px;
    width: 40px;
    height: 40px;
    background-color: #ee626b;
    color: #fff;
    border-radius: 50%;
    right: 25px;
    bottom: 25px;
    top: 25px;
}
/*  */

.trend .item .thumb {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
.trend .item  .price {
    text-align: right;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    background-color: #008af8;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px 6px 15px;
}
.tops .item .down-content h4{
    font-size: 17px;
    font-weight: 600;
}
.tops .item img{
    border-radius: 20px;
}
.tops .item .down-content{
    padding: 15px;
}
.tops .item .down-content .category{
    font-size: 14px;
    color: #7a7a7a;
    margin-bottom: 5px;
    display: inline-block;
}

/*  */

.tops .item .down-content{
    display: flex;
    width: 100%;
    text-align: center;
    display: inline-block;
    align-items: center;
    justify-content: center;
}
.tops .item .down-content a{
    display: inline-block;
    text-align: center;
    text-decoration: none;
    padding: 0px 20px;
    margin-top: 10px;
    border-radius: 50px;
    line-height: 40px;
    color: #fff;
    background-color: #cb4c47;
    right: 25px;
    bottom: 25px;
    
}

.trend .item .thumb {
    position: relative;
    border-radius: 25px;
    overflow: hidden;
}
.trend .item  .price {
    text-align: right;
    position: absolute;
    right: 20px;
    top: 20px;
    border-radius: 10px;
    background-color: #008af8;
    font-size: 17px;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    padding: 8px 15px 6px 15px;
}

.catory .item{
    background-color: #008af8;
    border-radius: 20px;
}
.catory .item img{
    border-radius: 20px;
    vertical-align: middle;
}
.catory .item h4{
    font-size: 17px;
    font-weight: 600;
    color: #fff;
    padding: 22px;
    margin-bottom: 0px;
    text-align: center;
}
footer{
    margin-top: 80px;
    min-height: 150px;
    background-image: url('https://templatemo.com/templates/templatemo_589_lugx_gaming/assets/images/banner-bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:  120px 120px 0 0;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}
